.homepage {
  background: var(--bg-dark);
  .image-container {
    width: 95%;
    height: 100%;
    margin: 3rem auto;
    border: 1px solid red;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
