.product {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 4.5rem 1.2rem 0rem 1.2rem;
  background-color: var(--bg);
  color: var(--text);
  .left{
    width: 34%;
  }
  .other-side{
    min-width: 790px;
    width: 66.66%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

    &>*{
      width: 100%;
    }
  }
}

@import "left/left";

@import "center/center";

@import "right/right";
