.product{
  // height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 4.5rem 1.2rem 0rem 1.2rem;
  background-color: black;
  color: white;
}

.product > *{
  width: 100%;
}


@import 'left/left';

@import 'center/center';

@import 'right/right';

