.btn {
  cursor: pointer;
  padding: 0.7rem 1.5rem;
  box-sizing: border-box;
  border: none;
  background: var(--bg);

  @include transition();

  @include usingBorderRadiusMixin();

  &:active {
    @include usingInsetBoxShadowMixin();
  }

  &:hover {
    background: var(--focus);
    @include usingBoxShadowMixin();
  }

  &.checkout-btn {
    color: var(--text-standout);
  }

  &.disabled {
    color: var(--text-dim);
    background: var(--bg-dim);
    &:active {
      box-shadow: none !important;
    }
  }
}
