.btn {
  cursor: pointer;
  padding: 0.7rem 1.5rem;
  box-sizing: border-box;
  background: var(--bg);
  border: none;
  @include transition();

  @include usingBorderRadiusMixin();

  &.border {
    border: 1px solid var(--border);
  }

  &:hover {
    background: var(--focus);
    @include usingBoxShadowMixin(primary);
  }

  &:active {
    @include usingInsetBoxShadowMixin();
  }

  &.disabled {
    background: var(--bg-dim) !important;
    color: var(--text-dim);
    cursor: default;
    &:active {
      box-shadow: none !important;
    }
    &:hover {
      box-shadow: none !important;
    }
  }
  &.secondary {
    background: var(--bg-standout);
    border: 1px solid hsla(0, 100%, 96%, 0.2);
    color: var(--text-dark-standout);
    font-size: 1rem;
    font-family: brutal-medium, sans-serif;
    &:hover {
      box-shadow: 2px 2px 5px hsl(0, 0%, 18%), -2px -2px 5px hsl(0, 0%, 35%);
    }

    padding: 0.9rem;
  }
}
