@import "themes";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                       supported by Chrome, Edge, Opera and Firefox*/
}

#root {
  background: var(--bg);
}

main {
  min-height: 90vh;
  // padding: 1.2rem;
  // border: 1px solid red;
  font-size: 0.813rem;
  font-family: "Open Sans", sans-serif;
}

.pop {
  cursor: pointer;
}

.pop:active {
  animation: pop 0.1s ease-out;
}

@keyframes pop {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.9, 0.9);
  }
  100% {
    transform: scale(1, 1);
  }
}

@mixin box-shadow {
  box-shadow: 0 1rem 0.5rem -0.5rem;
  box-shadow: 0 2px $spread $shadow-dark, 0 -2px $spread $shadow-dark,
    2px 0 $spread $shadow-dark, -2px 0 $spread $shadow-dark;
}

@mixin transition {
  transition: box-shadow 150ms ease-out, background 200ms ease-out;
}

@keyframes disabledBrightnessFilterKeyframes {
  0% {
    filter: brightness(1);
    -webkit-filter: brightness(1);
  }
  50% {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
  }
  100% {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
  }
}

@mixin disabledBrightnessFilter{
  animation-name: disabledBrightnessFilterKeyframes;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  transition-timing-function: ease-out;
}

@import "../components";

@import "../header";

@import "../product/product";

@import "../homepage/homepage";

@import "media";
