@import "themes";

@font-face {
  font-family: brutal-regular;
  src: url("../assets/fonts/BrutalType.woff2");
}

@font-face {
  font-family: brutal-thin;
  src: url("../assets/fonts/BrutalType-Thin.woff2");
}

@font-face {
  font-family: brutal-light;
  src: url("../assets/fonts/BrutalType-Light.woff2");
}

@font-face {
  font-family: brutal-medium;
  src: url("../assets/fonts/BrutalType-Medium.woff2");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                       supported by Chrome, Edge, Opera and Firefox*/
}

#root {
  background: var(--bg);
}

main {
  /* min-height: 90vh; */
  // padding: 1.2rem;
  // border: 1px solid red;
  font-size: 0.813rem;
  font-family: "Open Sans", sans-serif;
}

.pop {
  cursor: pointer;
}

.pop:active {
  animation: pop 0.1s ease-out;
}

@keyframes pop {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.9, 0.9);
  }
  100% {
    transform: scale(1, 1);
  }
}

@mixin box-shadow {
  box-shadow: 0 1rem 0.5rem -0.5rem;
  box-shadow: 0 2px $spread $shadow-dark, 0 -2px $spread $shadow-dark,
    2px 0 $spread $shadow-dark, -2px 0 $spread $shadow-dark;
}

@mixin transition($box-shadow: 150ms, $background: 200ms, $delay: 0s) {
  transition: box-shadow $box-shadow ease-out $delay, background $background ease-out;
}

@keyframes disabledBrightnessFilterKeyframes {
  0% {
    filter: brightness(1);
    -webkit-filter: brightness(1);
  }
  50% {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
  }
  100% {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
  }
}

@mixin disabledBrightnessFilter {
  animation-name: disabledBrightnessFilterKeyframes;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  transition-timing-function: ease-out;
}

@mixin usingBoxShadowMixin($type: "primary") {
  @if $type == "primary" {
    &.box-shadow-none {
      box-shadow: none;
    }

    &.box-shadow-x-small {
      box-shadow: var(--extra-small-box-shadow);
    }

    &.box-shadow-small {
      box-shadow: var(--small-box-shadow);
    }

    &.box-shadow-medium {
      box-shadow: var(--medium-box-shadow);
    }

    &.border {
      border: 1px solid var(--border);
    }
  }
}

@mixin usingInsetBoxShadowMixin() {
  &.box-shadow-none {
    box-shadow: var(--extra-small-inset-box-shadow) !important;
  }

  &.box-shadow-x-small {
    box-shadow: var(--extra-small-inset-box-shadow) !important;
  }

  &.box-shadow-small {
    box-shadow: var(--small-inset-box-shadow) !important;
  }

  &.box-shadow-medium {
    box-shadow: var(--medium-inset-box-shadow) !important;
  }

  &.border {
    border: 1px solid var(--border);
  }
}

@mixin usingBorderRadiusMixin() {
  $border-radius: 0.6rem;
  &.border-radius-top {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  &.border-radius-bottom {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  &.border-radius-left {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  &.border-radius-right {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  &.border-radius-top-left {
    border-top-left-radius: $border-radius;
  }

  &.border-radius-bottom-left {
    border-bottom-left-radius: $border-radius;
  }

  &.border-radius-top-right {
    border-top-right-radius: $border-radius;
  }

  &.border-radius-bottom-right {
    border-bottom-right-radius: $border-radius;
  }

  &.border-radius-all {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }
}

#login-form {
  font-family: "brutal-regular", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: hsl(0, 0%, 90%);
  input {
    width: 100%;
    font-size: 1rem;
    padding: 0.6rem;
    border-radius: 0.3rem;
    border: none;
    box-shadow: inset 2px 2px 5px hsl(0, 0%, 18%),
      inset -2px -2px 5px hsl(0, 0%, 35%);
    background-color: hsl(0, 0%, 26%);
    &:focus {
      outline: 1px solid hsla(0, 0%, 96%, 0.3);
    }
  }
}

@import "../components";

@import "./fonts";

@import "../header";

@import "../product/product";

@import "../homepage/homepage";

@import "../cart/cart";

@import "media";
